<div class="h-100">
  <h1 class="text-center mt-5">お気に入りのAppを見つけよう</h1>
  <h2 class="text-center mt-3">MappsはMacアプリケーション情報共有サイトです</h2>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary my-0 mx-auto m-3">新規登録</button>
    <button type="button" class="btn btn-outline-primary my-0 mx-auto m-3">ログイン</button>
  </div>
</div>
